/* import SimpleParallax from "simple-parallax-js/vanilla"; */

* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #85331E;
  height: 80px;
  display: flex;
  justify-content: center;
}
/* .parallax-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
grid-area: 1 / 1 / 3 / 3; 
} */

#logo{
  width: 100px;
  height: auto;
  padding: 20px;
}

header {
  height: 400px;
  background-image:url(img/bg_bann.png)  ; 
  background-repeat:round;
  height: auto;

}


#div_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  
  grid-row-gap: 0px;
  }
  
  .full_div_bann { grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  grid-column-gap: 300px;
 }
  .bienvenue { grid-area: 1 / 1 / 2 / 2; }
  .img_bann { grid-area: 1 / 2 / 2 / 3; }

  #photo_bann {
    width: 80%;
    height: auto;
  }
  #bienvenue{
    width: 150%;
    height: auto;
  }
/* #animationtxt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  margin-bottom: 60px;
 
} */
/* #div1 {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  color: blueviolet;
  font-size: 150px;
}
#div2 {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  color: green;
  font-size: 150px;
}
#div3 {
  grid-area: 3 / 1 / 4 / 2;
  justify-self: end;
  color: blueviolet;
  font-size: 150px;
}
#div4 {
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  color: green;
  font-size: 150px;
}
#div5 {
  grid-area: 5 / 1 / 6 / 2;
  justify-self: end;
  color: blueviolet;
  font-size: 150px;
} */
/*
.d_g {
  color: blueviolet;
  font-size: 150px;
}
.g_d {
  color: green;
  font-size: 150px;
}
*/
main{
  background :#FFEEDC;
  padding-bottom: 40px;;
}
.titre_C {
  width: 100%;
  border-radius: 10px;
  display: grid;
  color: #ffffff;
  
}

.cartouche {
  background-color: #C8733A;
  font-size: 20px;
  width: auto;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  justify-self: center;
  margin-bottom: 140px;
  margin-top: 80px;
}

.TitreCartouche{
  margin: 30px;
}


/* .recette{
  border: solid 4px slateblue;
  border-radius: 6px;
} */
.recette {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 75px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: solid 4px #85331E;
  border-radius: 20px;
  margin: 4rem;
}

.image {
  grid-area: 1 / 1 / 4 / 3;
}
img {
  height: 250px;
  width: auto;
  padding-top: 20px;
  margin-left: -50px;
}

#img2 {
  height: 300px;
  width: auto;
  padding-top: 0px;
  margin-left: -50px;
  margin-bottom: 50px;
}
#img3 {
  height: 350px;
  width: auto;
  padding-top: 0px;
  margin-left: -50px;
  margin-top: -15px;
}
.titre {
  grid-area: 1 / 3 / 2 / 7;
  color:  #85331E;
}
.titre_recette{
  margin-top: 80px;
  width: 500px;
  text-align: left;
}
.description {
  grid-area: 2 / 3 / 3 / 7;

  
}
.italique{
  font-style: italic;
  font-size: 20px;
}
.ingredient{
font-size: 1.5em;
}
.tag {
  grid-area: 3 / 3 / 4 / 4;

  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #4a8b75;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  padding: 10px;
  border-style: none;
}
.tag2 {
  grid-area: 3 / 4 / 4 / 5;
}
.vide {
  grid-area: 3 / 5 / 4 / 6;
}
.voir_plus {
  grid-area: 3 / 6 / 4 / 7;
  
}

.plus {
  text-decoration: underline;
  border: none;
  background: none;
  font-weight:bolder;
  font-size: medium;
  color: #85331E;
}

.carte {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 7px;
}

.full_div_cards {
  grid-area: 1 / 1 / 9 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 300px;
  grid-row-gap: 7px;
  background-image:url(img/bg_bann.png)  ; 
  height: auto;
  width: auto;
 
  margin: 100px 20px 0px 20px;
}
.ligne1 {
  grid-area: 1 / 1 / 5 / 4;
  grid-column-gap: 40px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.case1 {
  grid-area: 1 / 1 / 5 / 2;
  background-color: bisque;
  border: solid #E47645;
  border-radius: 40px;
  width: 20%;
  height: 90% ;
}

.photo_2{
  width: 100%;
  height: auto;
  position: relative ;
  bottom: 60px;
}

.photo {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}
.titre {
  font-size: 30px;
  text-align: center;
  position: relative ;
  bottom: 60px;
  color: #85331E;

}

.parfums {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  position: relative ;
  bottom: 60px;
  color: #85331E;

}

.desc {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  position: relative ;
  bottom: 60px;
  color: #85331E;
}

.voir {
  text-decoration: underline;
  border: none;
  background: none;
  font-weight: bold;
  font-size: larger;
  float: right;
  position: relative ;
  bottom: 60px;
  margin-right: 20px;
  color: #85331E;
  
}

.case2 {
  grid-area: 1 / 2 / 5 / 3;
  background-color: bisque;
  border: solid #E47645;
  border-radius: 40px;
  width: 20%;
  height: 90% ;
}

.case3 {
  grid-area: 1 / 2 / 5 / 3;
  background-color: bisque;
  border: solid #E47645;
  border-radius: 40px;
  width: 20%;
  height: 90% ;
}

.ligne2 {
  grid-area: 5 / 1 / 9 / 4;
  grid-column-gap: 40px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
footer {
  background-color: #C8733A;
  padding-top: 20px;
}

#txt_footer{
 

}
h5{
  color: aliceblue;
  padding-left: 30px;
  font-size: 2em;
}
#p_footer {
  color: aliceblue;
  padding-left: 30px;
  font-size: 1.5em;
  font-style: italic;
}

.div_seasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  margin-top: 30px

  ;
  }
  
  .full_div { grid-area: 1 / 1 / 2 / 4;
     display: flex;
    justify-content: center;
    margin-top: 20px;
    grid-column-gap: 200px;
    margin-bottom: 20px;
  }
  .printemps { grid-area: 1 / 1 / 2 / 2;  }
  .ete { grid-area: 1 / 2 / 2 / 3; }
  .hiver { grid-area: 1 / 3 / 2 / 4; }
  #credits{
    margin-top: 30px;
    color: aliceblue;
    text-align: center;

  }